body{
    font-family: 'Ubuntu';
}
.navbar{
    height: 70px;
    background-color: #1B262C;
    border-bottom: 1px solid #494949;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112%;
  }
.navbar > .top {
  position: absolute;
  left: 20px;
}
.navbar > .top a.menu_icon i {
  color: #fff;
  font-size: 40px;
  padding-top: 5px;
  transition: .2s ease;
}
.navbar > .top a.menu_icon:hover i {
  color: #fff;
}
nav.menu {
  width: 200px;
  height: 661px;
  background-color: #1B262C;
  position: absolute;
  left: -300px;
  transition: .3s all;
}
nav.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: #fff;
    text-decoration: none;
}
.menu_show {
  left: 0!important;
}

h1{
    padding-left: 20px;
}

hr{
    margin-left: 20px;
    width: 110%;
}

#add{
    margin-left: 20px;
    margin-top: 20px;
}

.table{
    margin-top: 10px;
    margin-left: 20px;
    width: 110%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    border-radius: 1em 1em 0 0;
    overflow: hidden;
}

.table thead{
    color: white;
}

@media screen and (max-width: 360px) {
  nav.menu {
    width: 100%;
    left: -100%; 
  }
}